#brand nav {
    position: fixed;
    height: 100vh;
    width: 22vw;
    background-color: rgba(0, 0, 0, .025);
}

#brand nav ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 36px 48px;
}

#brand nav ul li {
    position: relative;
    padding-left: 24px;
}

#brand nav ul li aside {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: var(--green-1);
    border-radius: 10px;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

#brand main {
    margin-left: 22vw;
    padding: 36px 5%;
}

@media (max-width: 768px) {
    #brand nav {
        position: initial;
        height: auto;
        width: auto;
        background-color: transparent;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        overflow: hidden;
    }
    #brand nav ul {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        gap: 24px;
        padding: 20px;
    }
    #brand nav ul li {
        text-wrap: nowrap;
    }
    #brand main {
        margin-left: 0;
        padding: 36px 20px;
    }
}